* {
  background-color: cadetblue;
}

main, .header{
  display: flex;
}

main {
  flex-direction: column;
  align-items: center;
}

.header{
  justify-content: space-between;
}

.container {
  justify-content: space-evenly;
  width: 32%;
}

#high-score, #timer{
  justify-content: space-between;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  background: hsl(300, 66%, 46%);
  font-size: 1.1rem;
  border-radius: 12px;
  box-shadow: 0 3px black;
}

.btn:hover {
  background: hsl(300, 66%, 30%);
  box-shadow: 0 2px black;
 
}