* {
  background-color: cadetblue;
}

main, .header, #scoreList{
  display: flex;
}

#scoreList{ 
  justify-content: space-between;
}

main {
  flex-direction: column;
  align-items: center;
}

.header{
  justify-content: space-between;
}

.container, #welcome-screen {
  justify-content: space-evenly;
  width: 50%;
}

#high-score, #timer{
  justify-content: space-between;
  font-size: 1.1rem;
}

.high-score {
  outline: none;
  border: none;
  padding: 10px 15px;
  background: hsl(120, 66%, 46%);
  border-radius: 12px;
  box-shadow: 0 3px black;
}

.high-score:hover {
  background: hsl(120, 66%, 27%);
  box-shadow: 0 1px black;
}


.choices {
  outline: none;
  border: none;
  padding: 10px 15px;
  min-width: 50px;
  background: hsl(300, 66%, 46%);
  font-size: 1.1rem;
  border-radius: 12px;
  box-shadow: 0 3px black;
}

.choices:hover {
  background: hsl(300, 66%, 30%);
  box-shadow: 0 1px black;
}

.hide {
  display: none;
}